/*Стилізація верхнього меню секції HEADER*/
/*Перемінні*/
:root{
    --color-text: #2196F3;
    --color-text-logo: black;  
    --color-text-menu:#212121;
    --color-text-mail-tel:#757575;
    --color-text-section: #212121;
    --color-sections-text:#757575;
    --text-color-hero:#FFFFFF;

    --background-color-hero: #2f303a;
    --background-color-btn: #188ce8;
    --background-color-footer:#2F303A;
    --background-color-modal-btn-potfolio:#2196F3;

    --font-family-text: Roboto;
    --font-family-logo: Raleway;
}
/*Логотип WebStudio*/
.body{
    font-family: 'Roboto', sans-serif;
    font-style:normal;
    font-weight: 500;
    color:var(--color-sections-text)
}
.logo{
    font-family: var(--font-family-logo); 
    font-style: normal; 
    font-weight: bold;
    font-size: 26px; 
    line-height: 31px;
/* identical to box height */ 
    letter-spacing: 0.03em;
    color: var(--color-text)
    text-decoration: none
    text-shadow: 0 4 4
    rgba(0,0.0,0.25);
    text-decoration: none /*прибирає підкреслення*/
}
.logo-web
{
    color: var(--color-text)
}
.logo-s
{
    color:var(--color-text-logo);
}
/*Стилізація блокім меню: Студія,Потфоліо...*/
.menu-link{

    font-size: 14px; 
    line-height: 1.14; 
    letter-spacing: 0.02em;
    
    color:var(--color-text-menu);
    text-decoration: none
}
.menu-link:hover,
.menu-link:focus
{
    color: var(--color-text)
}

.menu-link.current
{
    color:var(--color-text);
}

/*Стилізація блоків меню тел, майл*/
.mail-link{
    font-size: 14px; 
    line-height: 1.14; 
    letter-spacing: 0.02em;
    
    color:var(--color-text-mail-tel);
    text-decoration: none
}
.tel-link
{ 
    font-size: 14px; 
    line-height: 1.14; 
    letter-spacing: 0.02em;
    color:var(--color-text-mail-tel);
    text-decoration: none
}
.mail-link:hover,
.mail-link:focus
{
    color: var(--color-text);
}
.tel-link:hover,
.tel-link:focus
{
    color:var(--color-text);
}


/*Стилізація секції HERO*/
.hero-z
{
    font-weight: 900; 
    font-size: 44px; 
    line-height: 1.36;
    color: var(--text-color-hero);
    background:var(--background-color-hero);
    text-transform: uppercase;
}
.modal-btn 
{
    background:var(--background-color-btn);
    font-weight: bold; 
    font-size: 16px; 
    line-height: 30px;
    /* identical to box height, 187% */
    display: flex; 
    align-items: center; 
    text-align: center; 
    letter-spacing: 0.06em;
    color: var(--text-color-hero);
    cursor: pointer;
}

/*Стилізація секцій */
/*Секція особенності Section-1*/
.hero-list
{ 
    font-weight: bold; 
    font-size: 14px; 
    line-height: 16px;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: var(--color-text-section);
}

.hero-list-item
{ 
 
    font-size: 14px; 
    line-height: 1.71;
    letter-spacing: 0.03em;
    color:var(--color-sections-text);
}

/*Секція чим займаємося Section-2*/
.section-work
{
    font-weight: bold; 
    font-size: 36px; 
    line-height: 1.16;
    letter-spacing: 0.03em;
    color: var(--color-text-section);
}


/*Секція наша команда Section-3*/
.section-our-team
{
    font-size: 16px; 
    line-height: 1.19;
    letter-spacing: 0.03em;
    color: var(--color-text-section);
}
.section-profession
{ 
    font-size: 16px; 
    line-height: 1.19;
    letter-spacing: 0.03em;
    color: var(--color-sections-text);
}
/*Стилізація секяції footer*/

.footer
{
    background: var(--background-color-footer);
}
.logo-footer
{
    font-family: Raleway; 
    font-style: normal; 
    font-weight: bold;
    font-size: 26px; 
    line-height: 1.19;
/* identical to box height */ 
    letter-spacing: 0.03em;
    color: var(--color-text);
    text-decoration: none
    text-shadow: 0 4 4
    rgba(0,0.0,0.25);
    text-decoration: none /*прибирає підкреслення*/ 
}
.logo-footer-web
{
    color:var(--color-text);
}
.logo-footer-s
{
    color:var(--text-color-hero);
}
.footer-adres-1
{
    font-family: Roboto; 
    font-style: normal;
    font-weight: normal; 
    font-size: 14px; 
    line-height: 1.71;
    letter-spacing: 0.03em;
    color: var(--text-color-hero);
    text-decoration: none;
}
.footer-adres-2
{
    font-family: Roboto; 
    font-style: normal; 
    font-weight: normal; 
    font-size: 14px; 
    line-height: 1.71;
    letter-spacing: 0.03em;
    color: rgba(255, 255, 255, 0.6);
    text-decoration: none;  
}

/*portfolio.html*/
/*Стилізація та сторінки portfolio*/

.modal-btn-portfolio
{ 
    font-size: 14px; 
    line-height: 1.63;
    letter-spacing: 0.03em;
    color:var(--color-text-section);
    cursor: pointer;
}   
.modal-btn-portfolio:hover,
.modal-btn-portfolio:focus
{
    color: var(--text-color-hero);
    background:var(--background-color-modal-btn-potfolio);
}

.portfolio-list
{ 
    font-weight: bold; 
    font-size: 18px; 
    line-height: 2;
    letter-spacing: 0.06em;
    color: var(--color-text-section);
}
.portfolio-list-item
{
    font-weight: normal; 
    font-size: 16px; 
    line-height: 1.85;
    letter-spacing: 0.06em;
    color: var(--color-sections-text);
}
.list
{
    list-style: none; /*прибирає точки в списку*/
}
.portfolio-modadl-btn{
    list-style: none;
}